.DS_Store
*.pyc
/act 3/act_3_big_data/bin
/act 3/act_3_big_data/lib
*.cfg
*.json
*.png
*.svg
/act 3/act_3_big_data/share
act 3/files/amazon_electronics.csv
/act 4/act_4_big_data
act 4/files/amazon_electronics.csv
